.equipes {position:relative;width:300px;}
.equipes ul {margin:0 auto;padding:0;height: 126px;width:111px;}
.equipes li {list-style:none;background-image: url("http://www.letour.fr/le-tour/img/sprite_jerseys.png");background-repeat: no-repeat;height: 126px;margin: auto;width: 111px;}
.equipes li a {display:block;height:inherit;width:inherit;}
.equipes a.liprev, .equipes a.linext {display:block;position:absolute;z-index:2;width:24px;height:40px;top:40px;}
.equipes a.liprev.disabled, .equipes a.linext.disabled {display:none;}
.equipes a.liprev {left:20px;background:url("http://www.letour.fr/le-tour/img/sprite_layout.png") no-repeat -25px -762px;}
.equipes a.liprev:hover {background-position:0 -762px;}
.equipes a.linext {right:20px;background:url("http://www.letour.fr/le-tour/img/sprite_layout.png") no-repeat -25px -803px;}
.equipes a.linext:hover {background-position:0 -803px;}
.jersey-alm {background-position:0 0}
.jersey-arg {background-position:0 -127px}
.jersey-ast {background-position:0 -254px}
.jersey-bmc {background-position:0 -381px}
.jersey-cof {background-position:0 -508px}
.jersey-euc {background-position:0 -635px}
.jersey-eus {background-position:0 -763px}
.jersey-fdj {background-position:0 -889px}
.jersey-grm,
.jersey-grs {background-position:0 -1016px}
.jersey-oge {background-position:0 -1143px}
.jersey-kat {background-position:0 -1270px}
.jersey-lam {background-position:0 -1397px}
.jersey-liq {background-position:0 -1524px}
.jersey-ltb {background-position:0 -1651px}
.jersey-mov {background-position:0 -1778px}
.jersey-opq {background-position:0 -1905px}
.jersey-rab {background-position:0 -2032px}
.jersey-rnt {background-position:0 -2159px}
.jersey-sau {background-position:0 -2286px}
.jersey-sky {background-position:0 -2413px}
.jersey-sax,
.jersey-stb {background-position:0 -2540px}
.jersey-vcd {background-position:0 -2667px}